NodeRed/nodes.json
[
    {
        "id": "ac84b5d652615ed1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8608eb41e1676e41",
        "type": "ui_text",
        "z": "ac84b5d652615ed1",
        "group": "9a9b49c00bbc3718",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ThingAliveText",
        "label": "Waterer:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 900,
        "y": 260,
        "wires": [],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "e87023616b9751c0",
        "type": "mqtt in",
        "z": "ac84b5d652615ed1",
        "name": "Water Machine LWT",
        "topic": "infob3it/036/WaterMachine/LWT",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8be8e3007bf6dba4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "8608eb41e1676e41"
            ]
        ]
    },
    {
        "id": "503fa4e45bbe624f",
        "type": "comment",
        "z": "ac84b5d652615ed1",
        "name": "Thing Alive Cycle",
        "info": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "0a5af7153c91e8b1",
        "type": "mqtt out",
        "z": "ac84b5d652615ed1",
        "name": "Watering",
        "topic": "infob3it/036/WaterMachine/Controls/Watering",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be8e3007bf6dba4",
        "x": 1240,
        "y": 440,
        "wires": []
    },
    {
        "id": "570189e8401eefe9",
        "type": "comment",
        "z": "ac84b5d652615ed1",
        "name": "OUTPUT: infob3it/036/XXX",
        "info": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "b6922a3596171c15",
        "type": "ui_button",
        "z": "ac84b5d652615ed1",
        "name": "Watering Button",
        "group": "30cd15cc669483d3",
        "order": 0,
        "width": "6",
        "height": "3",
        "passthru": true,
        "label": "Water your plant",
        "tooltip": "",
        "color": "Blue",
        "bgcolor": "Orange",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 440,
        "wires": [
            [
                "04f268ee2958c2c3",
                "0a5af7153c91e8b1"
            ]
        ]
    },
    {
        "id": "6c82d0e07077d86d",
        "type": "ui_text",
        "z": "ac84b5d652615ed1",
        "group": "30cd15cc669483d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Watering Text",
        "label": "Watering",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "04f268ee2958c2c3",
        "type": "trigger",
        "z": "ac84b5d652615ed1",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 420,
        "wires": [
            [
                "0a5af7153c91e8b1"
            ]
        ]
    },
    {
        "id": "5510fc70b222aacf",
        "type": "comment",
        "z": "ac84b5d652615ed1",
        "name": "Manual controls",
        "info": "",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "c2b24d271ef4b3f5",
        "type": "ui_switch",
        "z": "ac84b5d652615ed1",
        "name": "Watering Switch",
        "label": "Watering Switch",
        "tooltip": "",
        "group": "30cd15cc669483d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 480,
        "wires": [
            [
                "0a5af7153c91e8b1"
            ]
        ]
    },
    {
        "id": "d9b5a95d641396e4",
        "type": "mqtt in",
        "z": "ac84b5d652615ed1",
        "name": "Watering",
        "topic": "infob3it/036/WaterMachine/Controls/Watering",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8be8e3007bf6dba4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "2dc505f8c652a655",
                "c2b24d271ef4b3f5",
                "60cf60e0b23172ce",
                "1c22fb4b3dc34813"
            ]
        ]
    },
    {
        "id": "2c3e69039b33ea85",
        "type": "mqtt in",
        "z": "ac84b5d652615ed1",
        "name": "WaterButton",
        "topic": "infob3it/036/WaterMachine/Controls/WaterButton",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8be8e3007bf6dba4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "b6922a3596171c15"
            ]
        ]
    },
    {
        "id": "2dc505f8c652a655",
        "type": "debug",
        "z": "ac84b5d652615ed1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "6dd2d279f5681ee3",
        "type": "ui_switch",
        "z": "ac84b5d652615ed1",
        "name": "Manual Switch",
        "label": "Manual Mode",
        "tooltip": "",
        "group": "30cd15cc669483d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "infob3it/036/WaterMachine/Controls/Manual",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 720,
        "wires": [
            [
                "af362b06b90f3170"
            ]
        ]
    },
    {
        "id": "54430986200dba77",
        "type": "mqtt in",
        "z": "ac84b5d652615ed1",
        "name": "WaterMachine Manual",
        "topic": "infob3it/036/WaterMachine/Controls/Manual",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8be8e3007bf6dba4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "8ed4975fb50b1137"
            ]
        ]
    },
    {
        "id": "8ed4975fb50b1137",
        "type": "function",
        "z": "ac84b5d652615ed1",
        "name": "IntToBoolean",
        "func": "return { payload: !! msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "6dd2d279f5681ee3"
            ]
        ]
    },
    {
        "id": "af362b06b90f3170",
        "type": "function",
        "z": "ac84b5d652615ed1",
        "name": "BooleanToInt",
        "func": "return {payload: msg.payload ? 1 : 0};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 720,
        "wires": [
            [
                "ebfe06b43ae55ad3"
            ]
        ]
    },
    {
        "id": "ebfe06b43ae55ad3",
        "type": "mqtt out",
        "z": "ac84b5d652615ed1",
        "name": "Water Machine Manual",
        "topic": "infob3it/036/WaterMachine/Controls/Manual",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be8e3007bf6dba4",
        "x": 1310,
        "y": 720,
        "wires": []
    },
    {
        "id": "1c22fb4b3dc34813",
        "type": "trigger",
        "z": "ac84b5d652615ed1",
        "name": "timeOut 3m",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 830,
        "y": 520,
        "wires": [
            [
                "0a5af7153c91e8b1"
            ]
        ]
    },
    {
        "id": "8993962f0f7557a2",
        "type": "comment",
        "z": "ac84b5d652615ed1",
        "name": "Sensors",
        "info": "",
        "x": 440,
        "y": 800,
        "wires": []
    },
    {
        "id": "eeca10a1919e0e32",
        "type": "mqtt in",
        "z": "ac84b5d652615ed1",
        "name": "WaterMachine Pressure",
        "topic": "infob3it/036/WaterMachine/Sensors/Pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8be8e3007bf6dba4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "351a716bbce87f67"
            ]
        ]
    },
    {
        "id": "bd6bf157f5ab8851",
        "type": "mqtt in",
        "z": "ac84b5d652615ed1",
        "name": "WaterMachine Temperature",
        "topic": "infob3it/036/WaterMachine/Sensors/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8be8e3007bf6dba4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 1140,
        "wires": [
            [
                "fc2b1b27e6bdc731",
                "471af97de069cdb0"
            ]
        ]
    },
    {
        "id": "351a716bbce87f67",
        "type": "ui_text",
        "z": "ac84b5d652615ed1",
        "group": "cf21b55ea0554e5a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "WaterMachine Pressure Text",
        "label": "Pressure: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 810,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fc2b1b27e6bdc731",
        "type": "ui_chart",
        "z": "ac84b5d652615ed1",
        "name": "WaterMachine Temperature Graph",
        "group": "cf21b55ea0554e5a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Temperature",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "471af97de069cdb0",
        "type": "ui_gauge",
        "z": "ac84b5d652615ed1",
        "name": "WaterMachine Temperature Gauge",
        "group": "cf21b55ea0554e5a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1120,
        "wires": []
    },
    {
        "id": "933f3efc648c5281",
        "type": "mqtt out",
        "z": "ac84b5d652615ed1",
        "name": "WaterMachine Sensors Verbose",
        "topic": "infob3it/036/WaterMachine/Sensors/Verbose",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be8e3007bf6dba4",
        "x": 1260,
        "y": 980,
        "wires": []
    },
    {
        "id": "ee88e3a2e03dcff6",
        "type": "ui_switch",
        "z": "ac84b5d652615ed1",
        "name": "WaterMachine Sensors Verbose Retrieval",
        "label": "Sensors Verbose Retrieval",
        "tooltip": "",
        "group": "cf21b55ea0554e5a",
        "order": 1,
        "width": "7",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 870,
        "y": 980,
        "wires": [
            [
                "933f3efc648c5281"
            ]
        ]
    },
    {
        "id": "60cf60e0b23172ce",
        "type": "function",
        "z": "ac84b5d652615ed1",
        "name": "IntToBoolean",
        "func": "return { payload: !! msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 560,
        "wires": [
            [
                "6c82d0e07077d86d"
            ]
        ]
    },
    {
        "id": "e2f0eeb23e1563ad",
        "type": "mqtt in",
        "z": "ac84b5d652615ed1",
        "name": "WaterMachine Sensors Verbose",
        "topic": "infob3it/036/WaterMachine/Sensors/Verbose",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8be8e3007bf6dba4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 980,
        "wires": [
            [
                "ee88e3a2e03dcff6"
            ]
        ]
    },
    {
        "id": "b91265b7b973645b",
        "type": "ui_button",
        "z": "ac84b5d652615ed1",
        "name": "Retrieve WaterMachine Sensors",
        "group": "cf21b55ea0554e5a",
        "order": 1,
        "width": "7",
        "height": "3",
        "passthru": false,
        "label": "Retrieve sensor data",
        "tooltip": "",
        "color": "red",
        "bgcolor": "cyan",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 900,
        "y": 920,
        "wires": [
            [
                "b628b9fa4197a0bf"
            ]
        ]
    },
    {
        "id": "b628b9fa4197a0bf",
        "type": "mqtt out",
        "z": "ac84b5d652615ed1",
        "name": "Single Retrieval",
        "topic": "infob3it/036/WaterMachine/Sensors/SingularRetrieval",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be8e3007bf6dba4",
        "x": 1210,
        "y": 920,
        "wires": []
    },
    {
        "id": "9a9b49c00bbc3718",
        "type": "ui_group",
        "name": "Connectivity",
        "tab": "1f6c888a8253bf22",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8be8e3007bf6dba4",
        "type": "mqtt-broker",
        "name": "UU MQTT",
        "broker": "mqtt.uu.nl",
        "port": "1883",
        "clientid": "node-red-with-random-client-id",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "30cd15cc669483d3",
        "type": "ui_group",
        "name": "Manual Controls",
        "tab": "1f6c888a8253bf22",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf21b55ea0554e5a",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "1f6c888a8253bf22",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1f6c888a8253bf22",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]